@import "include-media";
@import "~glightbox/dist/css/glightbox.css";
@import 'swiper/swiper-bundle.css';

@import "fonts";
@import "normalize";
@import "variables";
@import "forms";
@import "animations";
@import "typography";

@import "layout/header.scss";
@import "layout/navigation.scss";
@import "layout/personalnav";

@import "layout/text.scss";
@import "layout/locationsoverview.scss";
@import "layout/experiencesoverview.scss";
@import "layout/allexperiencesoverview.scss";
@import "layout/experiencecard.scss";
@import "layout/locationslist.scss";
@import "layout/experienceentry.scss";
@import "layout/loggingform";
@import "layout/logcard";
@import "layout/logspage";
@import "layout/trainvisualizer";
@import "layout/seatchart";
@import "layout/profile";
@import "layout/notification";
@import "layout/cookie_accept";

@import "elements/TextImageElement";
@import "elements/FavouritePlacesElement";

body{
    background-color: var(--ColorBackground); //rgb(230, 230, 230);
    margin-bottom: 120px;
}

.section {
    max-width: $maxWidth;
    padding: 0 10px;
    margin: 0 auto 20px auto;
}

.section_content{
    max-width: $maxWidthContent;
    margin: 0 auto;
}

.avatar_image{
    //overflow: hidden;
    position: relative;
    display: block;
    z-index: 0;
    aspect-ratio: 1/1;

    &:before{
        content: "";
        position: absolute;
        display: block;
        z-index: -1;
        top: -5px;
        left: -5px;
        bottom: -0px;
        right: -5px;
        border-radius: 50%;
        background-color: rgba(136, 136, 136, 0.137);
    }

    img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    }
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    background-image: url("../../icons/lightmode.svg");
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-image: url("../../icons/darkmode.svg");
}

  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.swiper-button-next, .swiper-button-prev{
    &::after{
        color: var(--ColorPrimary);
        font-size: 30px;
        color: $ColorWhite;
    }
}
