body{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--ColorWhite);
}

h1, h2, h3, h4, h5{
    font-weight: 700;
    margin: 0 0 5px 0;
}

h1{
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 10px 0;

    @include media("<=medium") {
        font-size: 30px;
    }
}

h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 1;

    @include media("<=medium") {
        font-size: 22px;
    }
}

h3{
    font-size: 20px;
    font-weight: 700;
    @include media("<=medium") {
        font-size: 18px;
    }
}

h4 {
    font-size: 18px;
    font-weight: 700;
    @include media("<=medium") {
        font-size: 18px;
    }
}

p{
    margin: 0;

    &.centered{
        text-align: center;
    }
}

a{
    cursor: pointer;
    text-decoration: none;
    color: var(--ColorWhite);

    &.button{
        color: $ColorWhite;
        padding: 5px 10px;
        border-radius: 10px 12px;
        text-transform: uppercase;
        background-color: var(--ColorNavigation);
        transition: 0.2s ease-in-out;

        &.centered{
            margin: 0 auto;
            display: block;
            text-align: center;
        }

        &:hover{
            background-color: var(--ColorPrimary);
        }
    }
}
