$maxWidth: 1100px;

$breakpoints: (
  'smartphone': 480px,
  'medium': 700px,
  'desktop': 1000px,
  'maxWidth': $maxWidth
);

$ColorPrimary: #266056;
$ColorPrimaryDark: #163631;
$ColorBackground: #213532;
$ColorPrimarySuperDark: #0A1816;
$ColorPremium: #570091;
$ColorFont: #fff;

$ColorBlack: rgb(0, 14, 15);
$ColorWhite: #FFF;
