$maxWidth: 1200px;
$maxWidthContent: 980px;

$breakpoints: (
  'smartphone': 480px,
  'medium': 700px,
  'desktop': 1000px
);

$ColorPrimary: #266056;
$ColorPrimaryDark: #1e4b43;
$ColorPrimaryLight: #e2fffa;
$ColorSecondary: #1e4b43;

$ColorBlack: rgb(0, 14, 15);
$ColorWhite: #FFF;
