$maxWidth: 1200px;
$maxWidthContent: 980px;

$breakpoints: (
  'smartphone': 480px,
  'medium': 700px,
  'desktop': 1000px
);

$ColorPrimary: #1E3755;
$ColorSecondary: #C9A141;

$ColorBlack: #131F42;
$ColorWhite: #FFF;