nav{
    position: relative;
    height: 70px;
    background-color: $ColorPrimarySuperDark;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0;
        margin: 0 auto;
        max-width: 500px;

        li{
            list-style: none;
            height: 100%;

            a{
                display: flex;
                align-items: center;
                height: 100%;
                cursor: pointer;
                height: 100%;
                justify-content: center;

                padding: 0px 10px;
                color: $ColorWhite;
                text-decoration: none;
                font-size: 12px;
                display: flex;
                flex-direction: column;
                align-items: center;

                svg{
                    max-width: 30px;
                    max-height: 30px;
                    padding-bottom: 5px;
                }
            }
        }
    }
}
