.section.section--favouriteplaces{
    .section_content{
        .favouriteplaces_intro{
            margin: 20px auto;
        }

        .progress_handler{
            margin-top: 10px;
        }

        .location_list{
            display: grid;
        }
    }
}
