.section.section--allexperiencesoverview{
    .section_content{

        .location_experiences{
            grid-column: 2/-1;

            .search_bar{
                display: flex;
                align-items: center;
                margin: 20px auto;

                .advancedfilters_toggle{
                    height: 48px;
                    margin-left: 10px;
                    color: $ColorPrimary;
                    opacity: 0.5;

                    &.active{
                        opacity: 1;
                    }
                }
            }

            .advancedfilters{
                max-height: 0px;
                opacity: 0;
                overflow: hidden;
                transition: 0.3s ease-in-out;

                .experiences_filter{
                    background-color: $ColorPrimary;
                    border-radius: 20px;
                    overflow: hidden;
                    padding: 10px;
                    height: auto;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-items: center;
                    color: $ColorWhite;
                    gap: 5px;

                    p{
                        padding: 5px;
                    }

                    .filterbutton{
                        background-color: $ColorSecondary;
                        color: $ColorWhite;
                        padding: 5px 10px;
                        border-radius: 10px;

                        &.inactive{
                            background-color: $ColorPrimary;
                            outline:1px solid $ColorSecondary;
                            opacity: 0.7;
                        }
                    }

                    &:last-of-type{
                        margin-bottom: 30px;
                    }
                }

                &.active{
                    max-height: 500px;
                    opacity: 1;
                    margin-top: -10px;
                }
            }

            .source{
                display: block;
                font-size: 12px;
            }
        }
    }
}
