.character_card{
    position: relative;
    display: flex;
    align-items: center;
    background: linear-gradient(15deg, var(--ColorWhite), var(--ColorLightGray));
    border-radius: 20px;
    margin: 0 0 30px 0;
    padding-right: 10px;
    overflow: hidden;
    max-height: 200px;
    opacity: 1;
    transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out;

    &.state-Defunct{
        &::after{
            Content: "Defunct";
            position: absolute;
            top: -15px;
            left: -10px;
            padding: 5px 180px 5px 20px;
            transform: rotate(-15deg);
            background-color: var(--ColorBlackTrans);
            color: var(--ColorWhite);

        }
    }

    &.state-Coming.Soon{
        &::after{
            Content: "Coming Soon";
            position: absolute;
            top: -15px;
            left: -15px;
            padding: 5px 180px 5px 20px;
            transform: rotate(-15deg);
            background-color: var(--ColorBlackTrans);
            color: var(--ColorWhite);

        }
    }

    &.state-In.Maintenance{
        &::after{
            Content: "In Maintenance";
            position: absolute;
            top: -15px;
            left: -15px;
            padding: 5px 180px 5px 20px;
            transform: rotate(-15deg);
            background-color: var(--ColorBlackTrans);
            color: var(--ColorWhite);

        }
    }

    &.state-Other{
        &::after{
            Content: "Other";
            position: absolute;
            top: -15px;
            left: -15px;
            padding: 5px 180px 5px 20px;
            transform: rotate(-15deg);
            background-color: var(--ColorBlackTrans);
            color: var(--ColorWhite);

        }
    }

    .character_entry{
        display: flex;
        height: 100%;
        width: 100%;
        overflow: hidden;

        .character_entry_image{
            width: 25%;
            height: 100%;
            aspect-ratio: 1;
            border-radius: 50%;

            max-width: 100px;
            flex-shrink: 0;
            //aspect-ratio: 1;
            padding: 0;
            //clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
            background-size: cover;
            background-position: center;
            background-color: var(--ColorPrimary);

            img{
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .character_entry_content{
            width: 75%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .character_title{
                hyphens: auto;
                word-break: break-all;
            }

            .flex_part{
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                align-items: flex-end;
            }

            span{
                font-weight: normal;
            }
        }
    }

    .experience_logging{
        background-color: var(--ColorWhite);
        flex-shrink: 0;
        border-radius: 20px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
        z-index: 30;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: max-height 0.1s ease-in-out;

        .logging_link{
            width: 100%;
            //height: 55px;
            padding: 2px;
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;

            &:hover{
                background-color: var(--ColorPrimary);
                color: var(--ColorWhite);
            }

            &.notnew{
                background-color: var(--ColorPrimary);
                color: var(--ColorWhite);

                &:hover{
                    background-color: var(--ColorWhite);
                    color: var(--ColorPrimary);
                }
            }
        }

        .logcount{
            height: 25px;
            width: 100%;
            text-align: center;
            background-color: var(--ColorPrimary);
            color: var(--ColorWhite);
        }
    }

    .experience_menu{
        position: absolute;
        top: 0px;
        left: 5px;

        .experience_menu_symbol{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            gap: 2px;
            aspect-ratio: 1;
            span{
                background-color: var(--ColorWhite);
                width: 5px;
                height: 5px;
                border-radius: 50%;
            }
        }

        .experience_menu_popup {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $ColorBlackTrans;
            z-index: 100;
            justify-content: center;
            align-items: center;
            display: none;

            .popup_inner{
                width: 80%;
                height: 90%;
                padding: 20px;
                background-color: var(--ColorPrimaryDark);
                border-radius: 20px;
                position: relative;
                overflow: hidden;

                span{
                    font-weight: 400;
                }

                .popup_closingbutton{
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    padding: 15px;
                    width: 50px;
                    height: 50px;
                    aspect-ratio: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: background-color 0.1s ease-in-out;
                    border-radius: 0 0 0 20px;

                    &::before{
                        content: "";
                        position: absolute;
                        top: 50%;
                        right: 50%;
                        width: 20px;
                        height: 2px;
                        transform-origin: center;
                        transform: translateX(50%) translateY(-50%) rotate(45deg);
                        background-color: var(--ColorPrimary);
                        transition: background-color 0.1s ease-in-out;
                    }

                    &::after{
                        content: "";
                        position: absolute;
                        top: 50%;
                        right: 50%;
                        width: 20px;
                        height: 2px;
                        transform-origin: center;
                        transform: translateX(50%) translateY(-50%) rotate(-45deg);
                        background-color: var(--ColorPrimary);
                        transition: background-color 0.1s ease-in-out;
                    }

                    &:hover{
                        background-color: var(--ColorPrimary);
                        color: var(--ColorWhite);

                        &::after, &::before{
                            background-color: $ColorWhite;
                        }
                    }
                }
            }

            &.active{
                display: flex;
            }
        }
    }

    .characterdata{
        display: none;
    }

    &.hide{
        overflow: hidden;
        opacity: 0;
        max-height: 0;
        margin: 0;
        pointer-events: none;
    }

    &.hidebyfilter{
        overflow: hidden;
        opacity: 0;
        max-height: 0;
        margin: 0;
        pointer-events: none;
    }

    &.data--loading{
        background-color: var(--ColorPrimary);
        animation: loadingbackground 2s ease-in-out infinite;

        &:before{
            content: "";
            background-color: gray;
            opacity: 0.2;
            z-index: 60;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}
