.cookie_accept_prompt{
    position: fixed;
    bottom: 80px;
    left: 0;
    width: 100%;
    background-color: var(--ColorPrimary);
    padding: 1rem;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    .cookie_accept_prompt__text{
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .cookie_accept_prompt__button{
        background-color: var(--ColorPrimary);
        border: 1px solid var(--ColorWhite);
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        color: var(--ColorWhite);
        cursor: pointer;
        &:hover{
            background-color: var(--ColorWhite);
            color: var(--ColorPrimaryDark);
        }
    }

    &.hide{
        display: none;
    }
}
