.section.section--experiencesoverview{
    padding: 0;
    max-width: 100%;

    .section_content{
        margin-top: 90px;
        max-width: 100%;

        .section_location_header{
            width: 100%;
            padding: 20px 15px;
            position: relative;
            overflow: hidden;
            border-radius: 20px 20px 0 0;
            color: $ColorWhite;
            max-width: $maxWidth;
            margin: 0 auto;
            pointer-events: none;

            h1{
                color: $ColorWhite;
                text-shadow: 0 0 10px rgba($ColorBlack, 1);
                max-width: $maxWidth;
                margin: 0 auto;
            }

            .location_favouritemarker{
                position: absolute;
                top: 15px;
                right: 15px;
                color: $ColorWhite;
                z-index: 10;
                pointer-events: all;

                @include media("<medium") {
                    top: unset;
                    bottom: 45px;
                    right: 20px;
                }
            }

            .header_background{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1;
                background-size: cover;
                background-position: center;
                background-color: var(--ColorPrimary);

                @include media("<medium") {
                    &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: var(--ImageGradient);
                    }
                }
            }

            @include media("<maxWidth"){
                max-width: calc(100% - 20px);
            }

            @include media("<medium") {
                max-width: 100%;
                padding: 80px 0 50px 0;
                border-radius: 0;
                h1, p{
                    text-align: center;
                    text-shadow: 0 0 10px rgba($ColorBlack, 1);
                    padding: 0 10px;
                }
            }
        }

        .section_location_partselect{
            background-color: var(--ColorPrimaryLight);
            border-radius: 0 0 20px 20px;
            display: flex;
            align-items: center;
            max-width: $maxWidth;
            margin: 0 auto;
            margin-bottom: 20px;
            padding: 0;

            .partselector{
                display: block;
                width: calc(100% / 3);
                text-align: center;
                color: var(--ColorPrimary);
                border-radius: 0 0 20px 20px;
                padding: 10px 0;
                margin: 0;
                cursor: pointer;

                &.selected{
                    color: $ColorWhite;
                    background-color: var(--ColorPrimary);
                }
            }

            @include media("<maxWidth"){
                max-width: calc(100% - 20px);
            }

            @include media("<medium") {
                width: calc(100% - 20px);
                padding: 0;
                margin-top: -30px;
                border-radius: 20px;
                overflow: hidden;

                .partselector{
                    border-radius: 20px;
                }
            }
        }

        input[type="radio"]{
            display: none;
        }

        .section_part{
            display: none;

            &:has(input[type="radio"]:checked) {
                display: block;
            }
        }

        .section_location_info{
            max-width: $maxWidth;
            margin: 0 auto;
            padding: 0 10px;
        }

        .section_location_progress{
            max-width: $maxWidth;
            margin: 0 auto;

            .progress_list{
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                margin: 10px -10px 0 -10px;

                .progress_entry_wrap{
                    padding: 10px;

                    .progress_entry{
                        display: flex;
                        border-radius: 10px;
                        overflow: hidden;
                        background-color: var(--ColorPrimaryLight);
                        padding: 15px;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        text-align: center;

                        .progress_value{
                            font-size: 40px;
                            font-weight: 700;
                        }

                        .progress_year{
                            color: var(--ColorBlack);
                        }
                    }
                }

                @include media("<desktop") {
                    grid-template-columns: repeat(3, 1fr);
                }
                @include media("<medium") {
                    grid-template-columns: repeat(2, 1fr);
                }
                @include media("<smartphone") {
                    grid-template-columns: repeat(1, 1fr);
                }
            }

            @include media("<maxWidth") {
                padding: 0 20px;
            }
        }

        .section_location_experiences {
            max-width: $maxWidth;
            margin: 0 auto;
            padding: 0 10px;

            .state_hl{
                position: relative;
                display: block;

                h2{
                    padding: 5px 10px;
                    text-align: center;
                    background-color: var(--ColorBackground);
                    display: inline-block;
                }

                &::after{
                    content: "";
                    position: absolute;
                    top: 45%;
                    left: 0;
                    display: block;
                    width: calc(100% - 10px);
                    height: 2px;
                    background-color: var(--ColorPrimary);
                    z-index: -1;
                }
            }

            .location_experiences{
                grid-row: 3/4;
                grid-column: 1/-1;
                position: relative;

                .search_bar{
                    margin: 10px auto;

                    @include media(">medium") {
                        margin: 0 auto 10px auto;
                    }
                }

                .source{
                    display: block;
                    font-size: 12px;
                }

                .experience_activatelocation{
                    position: absolute;
                    top: 4px;
                    right: 4px;
                    width: 28px;
                    height: 28px;
                    display: block;
                    text-align: center;
                    padding: 5px;
                    border-radius: 10px;
                    background-color: var(--ColorPrimary);
                    color: var(--ColorWhiteText);
                    cursor: pointer;
                    transition: background-color 0.2s ease-in-out;

                    svg{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }

                    &:hover{
                        background-color: var(--ColorPrimaryDark);
                    }
                }
            }
        }



        .section_location_characters {
            max-width: $maxWidth;
            margin: 0 auto;
            padding: 0 10px;

            .state_hl{
                position: relative;
                display: block;

                h2{
                    padding: 5px 10px;
                    text-align: center;
                    background-color: var(--ColorBackground);
                    display: inline-block;
                }

                &::after{
                    content: "";
                    position: absolute;
                    top: 45%;
                    left: 0;
                    display: block;
                    width: calc(100% - 10px);
                    height: 2px;
                    background-color: var(--ColorPrimary);
                    z-index: -1;
                }
            }

            .location_characters{
                grid-row: 3/4;
                grid-column: 1/-1;
                position: relative;

                .search_bar{
                    margin: 10px auto;

                    @include media(">medium") {
                        margin: 0 auto 10px auto;
                    }
                }

                .source{
                    display: block;
                    font-size: 12px;
                }

                .experience_activatelocation{
                    position: absolute;
                    top: 4px;
                    right: 4px;
                    width: 28px;
                    height: 28px;
                    display: block;
                    text-align: center;
                    padding: 5px;
                    border-radius: 10px;
                    background-color: var(--ColorPrimary);
                    color: var(--ColorWhiteText);
                    cursor: pointer;
                    transition: background-color 0.2s ease-in-out;

                    svg{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }

                    &:hover{
                        background-color: var(--ColorPrimaryDark);
                    }
                }
            }
        }


        @include media("<medium") {
            margin-top: 0;
        }
    }
}
