.experience_card{
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--ColorPrimary);
    border-radius: 20px;
    margin: 0 0 10px 0;
    padding-right: 10px;
    overflow: hidden;
    max-height: 300px;
    opacity: 1;
    transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out;

    &.state-Defunct{
        &::after{
            Content: "Defunct";
            position: absolute;
            top: -15px;
            left: -10px;
            padding: 5px 180px 5px 20px;
            transform: rotate(-15deg);
            background-color: var(--ColorBlackTrans);
        }
    }

    &.state-Coming.Soon{
        &::after{
            Content: "Coming Soon";
            position: absolute;
            top: -15px;
            left: -15px;
            padding: 5px 180px 5px 20px;
            transform: rotate(-15deg);
            background-color: var(--ColorBlackTrans);
            color: var(--ColorWhite);

        }
    }

    &.state-InActive{
        &::after{
            Content: "InActive";
            position: absolute;
            top: -15px;
            left: -15px;
            padding: 5px 180px 5px 20px;
            transform: rotate(-15deg);
            background-color: var(--ColorBlackTrans);
            color: var(--ColorWhite);

        }
    }

    &.state-In.Maintenance{
        &::after{
            Content: "In Maintenance";
            position: absolute;
            top: -15px;
            left: -15px;
            padding: 5px 180px 5px 20px;
            transform: rotate(-15deg);
            background-color: var(--ColorBlackTrans);
            color: var(--ColorWhite);

        }
    }

    &.state-Other{
        &::after{
            Content: "Other";
            position: absolute;
            top: -15px;
            left: -15px;
            padding: 5px 180px 5px 20px;
            transform: rotate(-15deg);
            background-color: var(--ColorBlackTrans);
            color: var(--ColorWhite);

        }
    }

    .experience_entry{
        display: flex;
        height: 100%;
        width: 100%;
        overflow: hidden;
        padding-right: 30px;

        .experience_entry_image{
            width: 25%;
            max-width: 80px;
            flex-shrink: 0;
            padding: 0;
            background-color: var(--ColorPrimaryDark);
            background-size: cover;
            background-position: center;
            position: relative;

            .experience_markers{
                color: $ColorWhite;
                position: absolute;
                top: 0px;
                right: 0px;
                padding: 5px 5px 5px 10px;
                display: flex;
                width: 100%;
                justify-content: flex-end;
                flex-wrap: wrap;

                .experience_marker{
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                    box-shadow: 0px 0px 5px 0px black;
                    background-color: $ColorBlackTrans;
                }
            }
        }

        .experience_entry_content{
            width: 75%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .experience_title{
                hyphens: auto;
                word-break: break-all;
            }

            .experience_type{
                margin: 0;
                hyphens: auto;
                display: flex;
                align-items: center;
                gap: 5px;

                span{
                    hyphens: auto;
                    font-size: 18px;
                    padding-bottom: 5px;
                    font-weight: normal;
                }

                p{
                    display: inline;
                }
            }

            .flex_part{
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                align-items: flex-end;
            }

            span{
                font-weight: normal;
            }
        }
    }

    .experience_logging{
        position: absolute;
        right: 0;
        top: 0;
        flex-shrink: 0;
        z-index: 30;
        height: 100%;
        width: 50px;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: max-height 0.1s ease-in-out;
        border-left: 1px solid var(--ColorPrimaryDark);

        .logging_link{
            width: 100%;
            height: 100%;
            padding: 2px;
            aspect-ratio: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;

            svg{
                width: 35px;
                height: 35px;
            }

            .logcount{
                height: 25px;
                width: 100%;
                text-align: center;
            }

            &.notnew{
                background-color: var(--ColorPrimaryDark);

                &:hover{
                    background-color: var(--ColorWhite);
                }
            }

            &:hover{
                background-color: var(--ColorWhite);
                color: $ColorPrimary;
            }
        }


    }

    .experiencedata{
        display: none;
    }

    &.hide{
        overflow: hidden;
        opacity: 0;
        max-height: 0;
        margin: 0;
        pointer-events: none;
    }

    &.hidebyfilter{
        overflow: hidden;
        opacity: 0;
        max-height: 0;
        margin: 0;
        pointer-events: none;
    }

    &.data--loading{
        background-color: var(--ColorPrimary);
        animation: loadingbackground 2s ease-in-out infinite;

        &:before{
            content: "";
            background-color: gray;
            opacity: 0.2;
            z-index: 60;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}
