.experience_card{
    position: relative;
    display: flex;
    align-items: center;
    background-color: $ColorWhite;
    border-radius: 20px;
    margin: 0 0 10px 0;
    padding-right: 10px;
    overflow: hidden;
    max-height: 400px;
    transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out;

    .experience_entry{
        display: flex;
        height: 100%;
        width: 100%;

        .experience_entry_image{
            width: 30%;
            max-width: 150px;
            aspect-ratio: 1;
            padding: 0;
            background-color: $ColorPrimary;
            clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
            background-size: cover;
        }

        .experience_entry_content{
            width: 70%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .experience_type{
                margin: 0;
            }

            .flex_part{
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                align-items: flex-end;
            }

            span{
                font-weight: normal;
            }
        }

        &.show{
            opacity: 1;
        }

        &.hide{
            opacity: 0;
            max-height: 0;
            margin: 0;
        }

        &.hidebyfilter{
            opacity: 0;
            max-height: 0;
            margin: 0;
        }

        @include media("<=medium") {
            .experience_entry_image{
                width: 50%;
            }
        }
    }

    .experience_logging{
        background-color: $ColorWhite;
        width: 80px;
        border-radius: 20px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
        z-index: 30;
        margin-left: -10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        max-height: 80px;
        transition: max-height 0.1s ease-in-out;

        .logging_link{
            width: 100%;
            height: 55px;
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;

            &:hover{
                background-color: $ColorPrimary;
                color: $ColorWhite;
            }
        }

        .logcount{
            height: 25px;
            width: 100%;
            text-align: center;
            background-color: $ColorPrimary;
            color: $ColorWhite;
        }
    }

    &:has(.hide){
        max-height: 0px;
        margin: 0;
        opacity: 0;

        .experience_logging{
            max-height: 0px;
        }
    }

    &:has(.hidebyfilter){
        max-height: 0px;
        margin: 0;
        opacity: 0;

        .experience_logging{
            max-height: 0px;
        }
    }
}
