.section.section--experiencesoverview{
    padding: 0;
    max-width: 100%;
    margin-top: -90px;

    .section_content{
        margin-top: 90px;
        max-width: 100%;

        .section_location_header{
            width: 100%;
            position: relative;
            overflow: hidden;
            color: var(--ColorWhite);
            max-width: $maxWidth;
            margin: 0 auto;
            pointer-events: none;
            padding: 90px 0 20px 0;
            text-align: center;

            .location_title{
                color: var(--ColorWhite);
                text-shadow: 0 0 10px rgba(var(--ColorBlack), 1);
                max-width: 75%;
                margin: 0 auto;
            }

            .location_favouritemarker{
                position: absolute;
                bottom: 35px;
                right: 15px;
                color: var(--ColorWhite);
                z-index: 10;
                padding: 5px;
                pointer-events: all;
                width: 48px;
                height: 48px;

                @include media("<medium") {
                    bottom: 55px;
                }
            }

            .location_statisticsbutton{
                position: absolute;
                bottom: 35px;
                left: 15px;
                color: var(--ColorWhite);
                z-index: 10;
                pointer-events: all;
                padding: 10px;
                width: 48px;
                height: 48px;

                @include media("<medium") {
                    bottom: 55px;
                }
            }

            .header_background{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1;
                background-size: cover;
                background-position: center;
                background-color: var(--ColorPrimaryDark);
                filter: brightness(0.5);
            }

            @include media("<maxWidth"){
                max-width: calc(100% - 20px);
            }

            @include media("<medium") {
                max-width: 100%;
                border-radius: 0;
                padding: 90px 0 50px 0;

                h1, p{
                    text-align: center;
                    text-shadow: 0 0 10px rgba($ColorBlack, 1);
                    padding: 0 10px;
                }
            }
        }

        .section_location_partselect{
            background-color: var(--ColorPrimary);
            border-radius: 0 0 20px 20px;
            display: flex;
            align-items: center;
            max-width: $maxWidth;
            margin: 0 auto;
            margin-bottom: 20px;
            padding: 0;
            box-shadow: 0 0 10px rgba(var(--ColorBlack), 0.5);

            .partselector{
                display: block;
                width: calc(100% / 3);
                text-align: center;
                color: var(--ColorWhite);
                border-radius: 0 0 20px 20px;
                padding: 10px 0;
                margin: 0;
                cursor: pointer;

                &.selected{
                    color: $ColorWhite;
                    background-color: var(--ColorPrimaryDark);
                }

                &.partselect--hidden{
                    display: none;
                }
            }

            @include media("<maxWidth"){
                max-width: calc(100% - 20px);
            }

            @include media("<medium") {
                width: calc(100% - 20px);
                padding: 0;
                margin-top: -30px;
                border-radius: 20px;
                overflow: hidden;

                .partselector{
                    border-radius: 20px;
                }
            }
        }

        .section_filters{
            max-width: $maxWidth;
            margin: 0 auto;
            padding: 0 10px;

            .search_bar {
                margin: 10px auto;
                display: flex;
                width: 100%;
                justify-content: flex-end;
                gap: 10px;

                .experience_activatelocation {
                    top: 4px;
                    right: 4px;
                    width: 30px;
                    height: 30px;
                    display: block;
                    text-align: center;
                    padding: 5px;
                    border-radius: 10px;
                    background-color: var(--ColorPrimary);
                    color: var(--ColorWhiteText);
                    cursor: pointer;
                    transition: background-color 0.2s ease-in-out;
                    flex-shrink: 0;
                    z-index: 2;

                    svg {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }

                    &:hover {
                        background-color: var(--ColorPrimaryDark);
                    }
                }

                .experience_togglefilter {
                    top: 4px;
                    right: 30px;
                    width: 30px;
                    height: 30px;
                    display: block;
                    text-align: center;
                    padding: 5px;
                    border-radius: 10px;
                    background-color: var(--ColorPrimary);
                    color: var(--ColorWhiteText);
                    cursor: pointer;
                    transition: background-color 0.2s ease-in-out;
                    flex-shrink: 0;
                    z-index: 2;

                    svg {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }

                    &:hover {
                        background-color: var(--ColorPrimaryDark);
                    }
                }

                input {
                    width: 100%;
                    height: 30px;
                    border-radius: 10px;
                    border: 1px solid var(--ColorPrimary);
                    font-size: 16px;
                    z-index: 2;
                }

                @include media(">medium") {
                    margin: 0 auto 10px auto;
                }
            }

            .experience_filters {
                background-color: var(--ColorPrimaryDark);
                border-radius: 20px;
                padding: 10px;
                margin-top: -40px;
                padding-top: 40px;
                max-height: 0px;
                opacity: 0;
                transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
                pointer-events: none;
                position: relative;
                margin-bottom: 10px;

                .experience_filter {
                    margin: 0px;
                }

                &.active {
                    max-height: 1000px;
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }

        input[type="radio"]{
            display: none;
        }

        .section_part{
            display: none;

            .location_page{
                max-width: $maxWidth;
                margin: 0 auto;
                padding: 0 10px;
            }

            &:has(input[type="radio"]:checked) {
                display: block;
            }
        }

        .section_location_progress{
            .progress_handler{
                .location_progress_text{
                    color: var(--ColorWhite);

                    @include media(">medium") {
                        color: var(--ColorBlack);
                    }
                }
                .location_progress{
                    background-color: var(--ColorPrimary);
                    .location_progress_bar{
                        background-color: var(--ColorPrimaryDark);
                    }
                }
            }

            .progress_list{
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                margin: 10px -10px 0 -10px;

                .progress_entry_wrap{
                    padding: 10px;

                    .progress_entry{
                        display: flex;
                        border-radius: 10px;
                        overflow: hidden;
                        background-color: var(--ColorPrimaryLight);
                        padding: 15px;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        text-align: center;

                        .progress_value{
                            font-size: 40px;
                            font-weight: 700;
                        }

                        .progress_year{
                            color: var(--ColorBlack);
                        }
                    }
                }

                @include media("<desktop") {
                    grid-template-columns: repeat(3, 1fr);
                }
                @include media("<medium") {
                    grid-template-columns: repeat(2, 1fr);
                }
                @include media("<smartphone") {
                    grid-template-columns: repeat(1, 1fr);
                }
            }

            @include media("<maxWidth") {
                padding: 0 20px;
            }
        }

        .section_location_map{
            .location_map{
                position: relative;
                width: 100%;
                height: 400px;
                border-radius: 20px;
                overflow: hidden;
                margin: 10px 0;
            }
        }

        .section_location_experiences {
            .location_experiences{
                grid-row: 3/4;
                grid-column: 1/-1;
                position: relative;

                .source{
                    display: block;
                    font-size: 12px;
                }


            }
        }

        .section_location_characters {

            .location_characters{
                grid-row: 3/4;
                grid-column: 1/-1;
                position: relative;

                .source{
                    display: block;
                    font-size: 12px;
                }

                .experience_activatelocation{
                    position: absolute;
                    top: 4px;
                    right: 4px;
                    width: 28px;
                    height: 28px;
                    display: block;
                    text-align: center;
                    padding: 5px;
                    border-radius: 10px;
                    background-color: var(--ColorPrimary);
                    color: var(--ColorWhiteText);
                    cursor: pointer;
                    transition: background-color 0.2s ease-in-out;

                    svg{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }

                    &:hover{
                        background-color: var(--ColorPrimaryDark);
                    }
                }
            }
        }
    }
}
