.section.section--experienceentry{
    .section_content{
        .experience_block{
            box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
            border-radius: 20px;
            background-color: $ColorWhite;
            overflow: hidden;
            padding: 20px;
            position: relative;

            .backbutton{
                position: absolute;
                top: 20px;
                left: 20px;
                background-color: $ColorWhite;
                padding: 5px 15px;
                border-radius: 0px 0 10px 0;
                transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, left 0.2s ease-in-out, border-radius 0.2s ease-in-out;
                z-index: 50;
                cursor: pointer;

                &:hover{
                    border-radius: 10px 0 10px 0;
                    background-color: $ColorPrimary;
                    color: $ColorWhite;
                }
            }

            .experiencegallery{
                position: relative;
                overflow: hidden;
                border-radius: 10px;

                .tns-outer{
                    position: relative;
                    .tns-controls{
                        display: none;
                    }

                    .tns-nav{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        z-index: 20;
                        display: flex;
                        justify-content: center;
                        padding: 10px 0;
                        gap: 5px;
                        button{
                            border: 0;
                            height: 10px;
                            border-radius: 50%;
                        }
                        .tns-nav-active{
                            background-color: $ColorPrimary;
                        }
                    }
                }
            }

            .experienceimage{
                width: 100%;
                height: 400px;
                border-radius: 10px;
                overflow: hidden;
                position: relative;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &.noimage{

                .backbutton{
                    left: 10px;

                    &:hover{
                        left: 20px;
                    }
                }
            }

            .experience_buttons{
                display: flex;
                gap: 10px;
                margin-top: 10px;
                .experience_button{
                    background-color: $ColorPrimary;
                    border-radius: 20px;
                    color: white;
                    padding: 5px 10px;
                }
            }

            .experience_log_button{
                position: relative;
                top: -15px;
                height: 60px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: $ColorWhite;
                border-radius: 10px;
                box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
                background-color: $ColorPrimary;
                color: $ColorWhite;
                margin-bottom: -10px;

                .logcount{
                    padding: 10px;
                    width: 80%;
                    text-align: left;
                }

                .logging_link{
                    border-radius: 10px;
                    width: 60px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $ColorWhite;
                    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);

                    &:hover{
                        background-color: $ColorPrimary;
                        color: $ColorWhite;
                    }
                }
            }
        }



        .experiencedata_list{
            margin: 20px auto;
            padding: 0 20px;
            display: grid;
            gap: 20px;

            .experiencedata_title{
                grid-column: 1 / 2;
                margin: 10px 0;
                gap: 10px;
                align-items: center;

                &.long{
                    gap: 0px;
                }
            }

            .experiencedata_content{
                grid-column: 2 / 3;
                padding-top: 12px;
            }

            .source{
                display: block;
                font-size: 12px;
            }
        }
    }
}
