.section.section--experienceentry{
    .section_content{
        .experience_block{
            box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
            border-radius: 20px;
            background-color: $ColorWhite;
            overflow: hidden;
            padding: 20px;
            position: relative;

            .backbutton{
                position: absolute;
                top: 20px;
                left: 20px;
                background-color: $ColorWhite;
                padding: 5px 15px;
                border-radius: 10px 0 10px 0;
                transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, left 0.2s ease-in-out;

                &:hover{
                    background-color: $ColorPrimary;
                    color: $ColorWhite;
                }
            }

            .experienceimage{
                width: 100%;
                height: 400px;
                border-radius: 10px;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &.noimage{
                padding-top: 50px;

                .backbutton{
                    left: 10px;

                    &:hover{
                        left: 20px;
                    }
                }
            }
        }

        .experiencedata_list{
            margin: 20px auto;
            padding: 0 20px;

            .experiencedata_entry{
                margin: 10px 0;
                display: flex;
                gap: 10px;
                align-items: center;

                &.long{
                    gap: 0px;
                    align-items: flex-start;
                    flex-direction: column;
                }

                .source{
                    display: block;
                    font-size: 12px;
                }
            }
        }
    }
}
