header {
    overflow: visible;
    max-width: $maxWidth;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
    width: 100%;
    filter: none;


    .header_nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 0 20px;
        display: flex;
        width: 100%;
        position: relative;
        height: 80px;

        .nav_brand{
            height: 100%;
            aspect-ratio: 1;
            padding: 10px 10px 0px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            @include media(">desktop") {
                display: block;
            }
            img {
                width: 100%;
            }
        }

        .userimage{
            border-radius: 50%;
            width: 50px;
            height: 50px;
            overflow: hidden;
            color: $ColorPrimary;

            &.noimage{
                background-color: $ColorPrimary;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
