header {
    overflow: visible;
    max-width: $maxWidth;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
    width: 100%;
    filter: none;
    margin-bottom: -80px;


    .header_nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 0 20px;
        display: flex;
        width: 100%;
        position: relative;
        height: 80px;
        top: 5px;

        .nav_brand{
            height: 100%;
            aspect-ratio: 1;
            padding: 10px 10px 0px;
            position: absolute;
            left: 50%;
            top: 35%;
            transform: translate(-50%, -50%);
            z-index: 100;
            @include media(">desktop") {
                display: block;
            }
            img {
                width: 100%;
            }
        }

        .userimage{
            border-radius: 50%;
            width: 50px;
            height: 50px;
            //overflow: hidden;
            color: var(--ColorPrimary);
            z-index: 100;
            cursor: pointer;

            &:hover{
                filter: brightness(0.8);
            }

            &.noimage{
                background-color: var(--ColorPrimary);
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .backbutton{
            color: var(--ColorPrimary);
            &:hover{
                filter: brightness(1);
            }
        }
    }
}

.login_note{
    position: absolute;
    background-color: var(--ColorBackground);
    bottom: 80px;
    left: 0;
    width: 100%;
    z-index: 200;
    margin: 105px 0 0 0;
    padding: 10px;
}
