.loggedexperience_card{
    background-color: var(--ColorWhiteTrans);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    position: relative;
    overflow: hidden;
    transition: 0.3s ease-in-out;

    .log_weather_wrap{
        position: absolute;
        top: 10px;
        right: 10px;
        height: 25px;
        font-size: 12px;
        color: var(--ColorPrimary);

        svg{
            max-height: 100%;
        }

        .log_weather{
            display: flex;
            height: 100%;
        }
    }

    .log_text{
        z-index: 5;

        h3{
            margin: 0;
            text-align: left;
        }

        .date{
            margin-bottom: 5px;
        }

        .park{
            font-weight: 400;
        }

        .seemore{
            overflow: hidden;
            transition: height 0.1s ease-in-out, opacity 0.1s ease-in-out;
        }
    }

    .background_image{
        z-index: -1;
        position: absolute;
        top: -5%;
        left: -5%;
        width: 100%;
        height: 100%;

        img{
            width: 110%;
            height: 110%;
            object-fit: cover;
            object-position: center;
            filter: brightness(1) blur(2px);
            opacity: 0.2;
        }
    }

    .moreinfo_button{
        position: absolute;
        bottom: 0px;
        right: 0px;
        font-size: 18px;
        background-color: var(--ColorPrimary);
        width: 48px;
        height: 48px;
        border-radius: 50% 0 9px 0;
        text-align: center;
        padding: 12px;
        color: var(--ColorWhite);
        cursor: pointer;
    }

    &.hide{
        max-height: 0px;
        opacity: 0;
        margin: 0;
        padding: 0;
    }
}
