.loggedexperience_card{
    background-color: var(--ColorPrimary);
    border-radius: 10px;
    padding: 0;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    position: relative;
    transition: 0.3s ease-in-out;

    .log_header{
        position: relative;
        top: 0px;
        right: 0px;
        height: auto;
        width: 100%;
        font-size: 12px;
        color: var(--ColorWhite);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3px 15px;
        border-bottom: 2px solid var(--ColorBackground);

        svg{
            max-height: 100%;
        }

        .log_weather{
            position: absolute;
            display: flex;
            height: 100%;
            right: 0px;
            top: 0;
            align-items: center;

            .linklogged{
                height: 100%;
                padding: 5px 7px 5px 10px;
                font-size: 9px;
                text-transform: uppercase;
                border-radius: 0px 0px 0px 10px;
                background-color: var(--ColorPrimaryDark);
            }

            svg{
                margin-right: 5px;
            }

        }
    }

    .log_text{
        z-index: 5;
        max-width: 100%;
        position: relative;
        padding: 10px 15px;


        h3{
            margin: 0;
            text-align: left;
        }

        .date{
            margin-bottom: 5px;
        }

        .park{
            font-weight: 400;
            display: flex;
            gap: 5px;
            align-items: center;

        }

        .seemore{
            overflow: hidden;
            transition: height 0.1s ease-in-out, opacity 0.1s ease-in-out;
        }
    }

    .moreinfo_button{
        position: absolute;
        bottom: 0px;
        right: 0px;
        font-size: 18px;
        width: 40px;
        height: 40px;
        border-radius: 0;
        text-align: center;
        padding: 10px;
        color: var(--ColorWhite);
        cursor: pointer;
        z-index: 5;
    }

    &.hide{
        max-height: 0px;
        opacity: 0;
        margin: 0;
        padding: 0;
    }

    &.loggedexperience_card--linklogged{
        margin-left: 30px;
        position: relative;

        &::before{
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -20px;
            width: 10px;
            height: 10px;
            background-color: var(--ColorPrimary);
            border-radius: 10px 10px;
        }

        &::after{
            content: "";
            position: absolute;
            top: 1px;
            transform: translateY(-50%);
            left: -16px;
            width: 25px;
            height: 100%;
            border-left: 2px solid var(--ColorPrimary);
            border-bottom: 2px solid var(--ColorPrimary);
            z-index: -1;
        }
    }
}
