.section.section--loggingform{
    position: relative;
    .section_content{

        margin-bottom: 200px;

        h1,h2{
            text-align: center;
            margin: 20px 0 10px 0;
        }

        .logging_form{

            .logging_group{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-evenly;
                gap: 0px;
                margin-bottom: 20px;

                label{
                    margin-top: 10px;
                }

                .group_entry{
                    background-color: $ColorWhite;
                    border-radius: 20px;
                    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
                    width: 22%;
                    margin: 5px 0;

                    color: $ColorPrimary;
                    position: relative;
                    overflow: hidden;
                    display: block;

                    label{
                        padding: 10px;
                        color: $ColorSecondary;
                        text-align: center;
                        font-size: 10px;
                        height: 100%;
                        display: block;
                    }

                    input[type="checkbox"] {
                        position: absolute;
                        opacity: 0;
                        width: 0;
                        height: 0;
                    }

                    &:has(input[type="checkbox"]:checked){
                        background-color: $ColorPrimary;
                        color: $ColorWhite;
                        label{
                            color: $ColorWhite;
                        }
                    }
                }

                @include media(">medium") {
                    flex-wrap: nowrap;
                    gap: 20px;
                }

                .train_selector{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }

                &.train{
                    flex-direction: column;
                }

            }

            input[type="submit"] {
                mask-image: url("../../../icons/add.svg");
                color: transparent;
                background-color: $ColorPrimary;
                position: fixed;
                right: 10px;
                bottom: 100px;
                width: 84px;
                height: 84px;
                border-radius: 50%;
            }
        }
    }
}
