.section.section--loggingform{
    position: relative;
    margin-top: 80px;
    .section_content{

        margin-bottom: 200px;

        h1,h2{
            text-align: center;
            margin: 20px 0 10px 0;
        }

        .logging_form{

            .log_wrap{
                .trainNumberPosition{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    font-style: italic;

                    .info_icon{
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            .logging_group{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-evenly;
                gap: 0px;
                margin-bottom: 20px;

                input[type="time"]::-webkit-calendar-picker-indicator{
                    filter: invert(100%);
                }

                input[type="date"]::-webkit-calendar-picker-indicator{
                    filter: invert(100%);
                }

                label{
                    margin: 0;
                }

                .group_entry{
                    background-color: var(--ColorPrimary);
                    border-radius: 20px;
                    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
                    width: 22%;
                    margin: 5px 0;

                    color: var(--ColorWhite);
                    position: relative;
                    overflow: hidden;
                    display: block;
                    border: 3px solid transparent;
                    transform: scale(1.0);
                    transition: 0.2s ease-in-out;
                    background-color: var(--ColorPrimaryDark);

                    label{
                        padding: 10px;
                        color: var(--ColorWhite);
                        text-align: center;
                        font-size: 10px;
                        height: 100%;
                        display: block;
                        cursor: pointer;
                        transition: 0.2s ease-in-out;
                    }

                    input[type="checkbox"] {
                        position: absolute;
                        opacity: 0;
                        width: 0;
                        height: 0;
                    }

                    &:has(input[type="checkbox"]:checked){
                        background-color: var(--ColorPrimary);
                        color: var(--ColorWhite);
                        border: 3px solid var(--ColorWhite);
                        transform: scale(1.05);

                        label{
                            background-color: var(--ColorPrimary);
                            color: var(--ColorWhite);
                        }
                    }
                }

                @include media(">medium") {
                    flex-wrap: nowrap;
                    gap: 20px;
                }

                .train_selector{
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    &.hidden{
                        opacity: 0;
                        max-height: 0;
                        overflow: hidden;
                    }
                }

                &.train{
                    flex-direction: column;
                }

            }

            input[type="submit"] {
                mask-image: url("../../../icons/add.svg");
                color: transparent;
                background-color: var(--ColorWhite);
                position: fixed;
                right: 10px;
                bottom: 100px;
                width: 84px;
                height: 84px;
                border-radius: 50%;
                margin: 0;
                transition: opacity 0.2s ease-in-out;

                &.clicked{
                    opacity: 0;
                    pointer-events: none;
                }
            }

            .xpl_logo{
                color: var(--ColorWhite);
                position: fixed;
                right: 10px;
                bottom: 100px;
                width: 84px;
                height: 84px;
                opacity: 0;
                transition: opacity 0.2s ease-in-out;
                pointer-events: none;

                svg{
                    position: relative;
                    width: 84px;
                    height: 84px;
                    transform-origin: 50% 50%;
                    animation: rotate 15s linear infinite;

                    #block_center_empty{
                        transform-origin: 50% 50%;
                        animation: rotate 5s linear infinite;
                    }

                    #blocks_filled{
                        transform-origin: 50% 50%;
                        animation: rotate 10s linear infinite;
                    }
                }

                &.clicked{
                    opacity: 1;
                }
            }

            #notes{
                background-color: var(--ColorPrimary);
                color: var(--ColorWhite);
            }
        }
    }
}



//Rating
.rating{
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="50px" height="50px"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
    -webkit-appearance: none;
    --value: 3;
    background: transparent;
    cursor: pointer;
    width: 250px;
	overflow: hidden;
    height: 50px;
    padding: 0;
    mask: var(--star) repeat-x 0 0;
    position: relative;

    &::before{
        content: '';
        display: block;
        background-color: var(--ColorWhite);
        width: calc((100% / 5) * var(--value));
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &::-webkit-slider-runnable-track{
        background: var(--ColorPrimary);
        height: 50px;
    }

    &::-moz-range-track{
        background: var(--ColorPrimary);
        height: 50px;
    }

    &::-webkit-slider-thumb{
        height: 50px;
        width: 50px;
        -webkit-appearance: none;
        background-color: var(--ColorPrimary);
    }

    &::-moz-range-thumb{
        height: 50px;
        width: 50px;
        -webkit-appearance: none;
        background-color: var(--ColorPrimary);
        border: none;
        border-radius: 0;
    }
}
