.section.section--personalnav{
    .section_content{
        background-color: $ColorWhite;
        position: fixed;
        top: 0px;
        right: 0;
        min-width: 200px;
        padding: 70px 0 0 0;
        z-index: 10;
        list-style: none;
        opacity: 0;
        max-height: 0vh;

        transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;

        .nav_link{
            padding: 15px 30px;
        }

        .personalnav_active & {
            opacity: 1;
            max-height: 100vh;
        }
    }
}
