.section.section--profile {
    margin-top: 90px;
    
    .section_content {
        .login{
            h2{
                display: inline-block;
            }

            a{
                display: inline-block;
            }
        }
    }

    &.profile{
        .section_content{

            h1{
                text-align: center;
            }

            h2{
                text-align: center;
            }

            .profile_section_headline{
                margin-top: 20px;
                text-align: center;
            }

            .profile_settings{
                background-color: var(--ColorWhite);
                padding: 20px 10px;
                text-align: center;
                border-radius: 20px;
                width: auto;
                display: block;
                box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
                margin: 0 auto;

                .avatar{
                    margin: 0 auto;
                    width: 150px;
                    height: 150px;
                    //overflow: hidden;
                    border-radius: 50%;
                }

                span{
                    color: var(--ColorPrimary);
                    font-weight: 600;
                }

                a{
                    font-size: 10px;
                    padding: 2px 3px;
                    border-radius: 10px;

                    &:hover{
                        background-color: var(--ColorPrimary);
                        color: var(--ColorWhite);
                    }
                }

                &.live{
                    max-height: 700px;
                    overflow: hidden;
                    padding: 20px 10px;
                    transition: opacity 0.2s ease-in-out, max-height 0.3s ease-in-out;
                    opacity: 1;

                    .profile_edit_active &{
                        max-height: 0px;
                        padding: 0;
                        opacity: 0;
                    }

                    .avatar{
                        width: 150px;
                        height: 150px;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                &.edit{
                    max-height: 0px;
                    overflow: hidden;
                    padding: 0;
                    transition: opacity 0.2s ease-in-out, max-height 0.3s ease-in-out;
                    opacity: 0;

                    .profile_edit_active &{
                        max-height: 700px;
                        padding: 20px 10px;
                        opacity: 1;
                    }
                }

                .profile_edit_button{
                    color: $ColorWhite;
                }
            }

            .profile_privacy{
                display: flex;
                justify-content: center;
                align-items: center;
                //background-color: var(--ColorPrimaryTrans);
                border-radius: 10px;
                color: $ColorWhite;
                width: auto;
                max-width: 100%;
                margin: 10px auto;

                p{
                    display: inline-block;
                }

                img{
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    margin-left: 10px;
                    object-fit: contain;
                }
            }

            .profile_friendslist{
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                gap: 15px;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;

                .profile_friend{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 10px 0;
                    background-color: var(--ColorWhite);
                    padding: 10px;
                    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
                    border-radius: 20px;

                    .profile_image{
                        margin-bottom: 10px;
                        width: 100%;
                        aspect-ratio: 1/1;
                        img{
                            background-color: var(--ColorWhite);
                            width: 100%;
                            height: 100%;
                        }
                    }

                    a{
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
