.section.section--profile {
    .section_content {
        .login{
            h2{
                display: inline-block;
            }

            a{
                display: inline-block;
            }
        }
    }

    &.profile{
        .section_content{

            h1{
                text-align: center;
            }

            h2{
                text-align: center;
            }

            .profile_section_headline{
                margin-top: 20px;
                text-align: center;
            }

            .profile_settings{
                background-color: $ColorWhite;
                padding: 20px 10px;
                text-align: center;
                border-radius: 20px;
                width: auto;
                display: block;
                box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
                margin: 0 auto;

                .avatar{
                    margin: 0 auto;
                    width: 150px;
                    height: 150px;
                    overflow: hidden;
                    border-radius: 50%;
                }

                span{
                    color: $ColorPrimary;
                    font-weight: 600;
                }

                a{
                    font-size: 10px;
                    padding: 2px 3px;
                    border-radius: 10px;

                    &:hover{
                        background-color: $ColorPrimary;
                        color: $ColorWhite;
                    }
                }
            }

            .profile_privacy{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $ColorPrimaryTrans;
                border-radius: 10px;
                color: $ColorWhite;
                max-width: 100%;
                margin: 10px auto;

                img{
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    object-fit: contain;
                }
            }

            .profile_friendslist{
                display: flex;
                gap: 15px;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;

                .profile_friend{
                    max-width: calc(25% - 10px);
                    width: 150px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 10px 0;
                    background-color: $ColorWhite;
                    padding: 10px;
                    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
                    border-radius: 20px;

                    .profile_image{
                        margin-bottom: 10px;
                        width: 100%;
                        aspect-ratio: 1/1;
                        img{
                            background-color: $ColorWhite;
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            box-shadow: inset 0 0 15px 0 rgba(0,0,0,0.5);
                        }
                    }

                    a{
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
