.section.section--seatchart {
    .section_content {
        .train_selector{
            text-align: center;
            margin: 15px 0;

            select{
                margin: 0 auto;
            }

            &.hidden{
                display: none;
            }
        }
    }
}
