.section.section--text{
    margin: 0 auto;
    margin-top: 90px;

    .section_content{
        .text_title{
            color: var(--ColorPrimary);
        }
    }

    &.section--text-center {
        .text_title{
            text-align: center;
        }
        .text_content {
            text-align: center;

            @media screen and (max-width: 991px) {
                padding-right: 34px;
                padding-left: 34px;
            }
        }
    }
}
