.train_visualizer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .entrance{
        &:not(.active){
            display: none;
        }
    }

    .train{
        background-color: #9CB7B3;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-radius: 60px 60px 20px 20px;
        padding: 10px;
        display: none;
        position: relative;

        .trainname{
            padding: 0 20px;
            color: var(--ColorWhite);
        }

        &.active{
            display: flex;
        }

        &.Boat {
            margin: 50px 0 40px 0;
            padding: 0 10px;
            border-radius: 0;
            .wagon{
                border-radius: 10px;
            }

            .trainname{
                padding: 0;
            }

            &::before{
                content: "";
                position: absolute;
                display: block;
                top: -30px;
                width: 100%;
                height: 30px;
                background-image: url(../../images/traintypes/boat-top.png);
                color: #2e726767;
                background-size: 100% 100%;
            }

            &::after{
                content: "";
                position: absolute;
                display: block;
                bottom: -30px;
                width: 100%;
                height: 30px;
                background-image: url(../../images/traintypes/boat-bottom.png);
                color: #2e726767;
                background-size: 100% 100%;
                top: auto;
            }
        }

        &.Car{
            margin: 50px 0 40px 0;
            padding: 0 10px;
            border-radius: 0;
            .wagon{
                border-radius: 10px;
            }

            .trainname{
                padding: 0;
            }

            &::before{
                content: "";
                position: absolute;
                display: block;
                top: -50px;
                left: -30px;
                right: -30px;
                height: 60px;
                z-index: -2;
                background-image: url(../../images/traintypes/car-top.png);
                background-size: 100% 100%;
            }

            &::after{
                content: "";
                position: absolute;
                display: block;
                bottom: -10px;
                left: -35px;
                right: -35px;
                height: 60px;
                z-index: -2;
                background-image: url(../../images/traintypes/car-bottom.png);
                color: #2e726767;
                background-size: 100% 100%;
                top: auto;
            }
        }

        .wagon{
            background-color: #266056;
            color: var(--ColorWhite);
            display: flex;
            flex-direction: column;
            gap:10px;
            align-items: center;
            border-radius: 30px 30px 10px 10px;
            padding: 15px;
            width: 100%;

            .row{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                font-size: 12px;
                p{
                    color: var(--ColorBlack);
                    filter: invert(1) grayscale(1) brightness(1.5) contrast(1.5);
                }

                .seat{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--ColorPrimary);
                    color: var(--ColorPrimaryDark);
                    border: 1px solid var(--ColorPrimaryDark);
                    width: 48px;
                    height: 48px;
                    border-radius: 5px;
                    font-size: 16px;
                    font-weight: 600;
                    position: relative;

                    p{
                        color: var(--ColorWhite);
                        filter: none;
                    }

                    &.selected{
                        background-color: var(--ColorPrimaryLight);

                        .seattitle{
                            color: var(--ColorPrimaryDark);
                        }

                        .count{
                            color: var(--ColorWhite);
                        }
                    }

                    &.XXL{
                        width: 55px;
                        height: 55px;
                        position: relative;
                        &:after{
                            content: "XXL";
                            height: 100%;
                            width: 100%;
                            font-weight: 700;
                            font-size: 25px;
                            opacity: 0.1;
                            left: 57%;
                            top: 60%;
                            transform-origin: center;
                            transform:  translate(-50%, -50%) rotate(-30deg);
                            position: absolute;
                            color: var(--ColorWhite);
                        }
                    }

                    &.Small{
                        width: 43px;
                        height: 43px;
                        position: relative;
                        &:after{
                            content: "XS";
                            height: 100%;
                            width: 100%;
                            font-weight: 700;
                            font-size: 20px;
                            opacity: 0.1;
                            left: 70%;
                            top: 55%;
                            display: block;
                            transform-origin: center;
                            transform:  translate(-50%, -50%) rotate(-30deg);
                            position: absolute;
                            color: var(--ColorWhite);
                        }
                    }

                    &.Long{
                        width: 48px;
                        height: 60px;
                        position: relative;
                        &:after{
                            content: "LONG";
                            height: 100%;
                            width: 100%;
                            font-weight: 700;
                            font-size: 16px;
                            opacity: 0.1;
                            left: 90%;
                            top: 50%;
                            display: block;
                            transform-origin: center;
                            transform:  translate(-50%, -50%) rotate(-90deg);
                            position: absolute;
                            color: var(--ColorWhite);
                        }
                    }

                    .count{
                        position: absolute;
                        bottom: -8px;
                        left: 50%;
                        transform: translateX(-50%);
                        display: block;
                        font-size: 11px;
                        font-weight: 100;
                        text-align: center;
                        border-radius: 20px;
                        padding: 0px 6px;
                        background-color: var(--ColorPrimary);
                        border: 1px solid var(--ColorWhite);
                        z-index: 2;
                    }

                    &.Forward{
                        &::before{
                            position: absolute;
                            background-color: var(--ColorPrimaryDark);
                            border: 1px solid var(--ColorPrimaryDark);
                            border-radius: 3px;
                            content: "";
                            height: 10px;
                            bottom: 0;
                            left: 0;
                            right: 0;
                        }
                    }

                    &.Backward{
                        &::before{
                            position: absolute;
                            background-color: var(--ColorPrimaryDark);
                            border: 1px solid var(--ColorPrimaryDark);
                            border-radius: 3px;
                            content: "";
                            height: 10px;
                            top: 0;
                            left: 0;
                            right: 0;
                        }
                    }

                    &.Right{
                        &::before{
                            position: absolute;
                            background-color: var(--ColorPrimaryDark);
                            border: 1px solid var(--ColorPrimaryDark);
                            border-radius: 3px;
                            content: "";
                            width: 10px;
                            top: 0;
                            left: 0;
                            bottom: 0;
                        }
                    }

                    &.Left{
                        &::before{
                            position: absolute;
                            background-color: var(--ColorPrimaryDark);
                            border: 1px solid var(--ColorPrimaryDark);
                            border-radius: 3px;
                            content: "";
                            width: 10px;
                            top: 0;
                            right: 0;
                            bottom: 0;
                        }
                    }
                }
            }
        }
    }

    .circle{
        width: 200px;
        height: 200px;
        background: pink;
        border-radius: 50%;
    }

    .hidden_datafields{
        display: none;
    }
}
